version: 2.1
jobs:
  build:
    parameters:
      php:
        type: string
      laravel:
        type: string
      symfony:
        type: string
      phpunit:
        type: string
      coverage:
        type: boolean
        default: false
    docker:
      - image: circleci/php:<<parameters.php>>
    steps:
      - checkout
      - run: echo $GITHUB_TOKEN
      - run:
          name: install
          command: |
            composer require "laravel/framework:<<parameters.laravel>>" --no-update -n
            composer require "symfony/lts:<<parameters.symfony>>" --no-update -n
            composer require "phpunit/phpunit:<<parameters.phpunit>>" --dev --no-update -n
            composer install --no-suggest --prefer-dist -n -o
      - when:
          condition: <<parameters.coverage>>
          steps:
            - run:
                name: prepare code coverage
                command: |
                  curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
                  chmod +x ./cc-test-reporter
                  ./cc-test-reporter before-build
            - run:
                name: Run phpunit
                command: vendor/bin/phpunit --coverage-clover build/logs/clover.xml
            - run:
                name: Upload coverage
                command: ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
      - when:
          unless: <<parameters.coverage>>
          steps:
            - run:
                name: Run phpunit
                command: vendor/bin/phpunit
  release:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - run: npx semantic-release
workflows:
  version: 2
  build:
    jobs:
      - build:
          name: "php7.1-5.5"
          php: "7.1"
          laravel: 5.5.*
          symfony: ^3.0
          phpunit: ^6.5
      - build:
          name: "php7.1-5.6"
          php: "7.1"
          laravel: 5.6.*
          symfony: ^4.0
          phpunit: ^7.0
      - build:
          name: "php7.1-5.7"
          php: "7.1"
          laravel: 5.7.*
          symfony: ^4.1
          phpunit: ^7.0
      - build:
          name: "php7.1-5.8"
          php: "7.1"
          laravel: 5.8.*
          symfony: ^4.2
          phpunit: ^7.5
      - build:
          name: "php7.2-5.5"
          php: "7.2"
          laravel: 5.5.*
          symfony: ^3.0
          phpunit: ^6.5
      - build:
          name: "php7.2-5.6"
          php: "7.2"
          laravel: 5.6.*
          symfony: ^4.0
          phpunit: ^7.0
      - build:
          name: "php7.2-5.7"
          php: "7.2"
          laravel: 5.7.*
          symfony: ^4.1
          phpunit: ^7.0
      - build:
          name: "php7.2-5.8"
          php: "7.2"
          laravel: 5.8.*
          symfony: ^4.2
          phpunit: ^7.5
      - build:
          name: "php7.3-5.5"
          php: "7.3"
          laravel: 5.5.*
          symfony: ^3.0
          phpunit: ^6.5
      - build:
          name: "php7.3-5.6"
          php: "7.3"
          laravel: 5.6.*
          symfony: ^4.0
          phpunit: ^7.0
      - build:
          name: "php7.3-5.7"
          php: "7.3"
          laravel: 5.7.*
          symfony: ^4.1
          phpunit: ^7.0
      - build:
          name: "php7.3-5.8"
          php: "7.3"
          laravel: 5.8.*
          symfony: ^4.2
          phpunit: ^7.5
          coverage: true
      - release:
          context: semantic-release
          filters:
            branches:
              only: master
          requires:
            - php7.1-5.5
            - php7.1-5.6
            - php7.1-5.7
            - php7.1-5.8
            - php7.2-5.5
            - php7.2-5.6
            - php7.2-5.7
            - php7.2-5.8
            - php7.3-5.5
            - php7.3-5.6
            - php7.3-5.7
            - php7.3-5.8